.container {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
    border-radius: 5px;
}

.media {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
    border-radius: 5px;
    float: left;
    margin-top: 10px; 
}

.media-body {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
    border-radius: 5px;
    float: left;
    margin-top: 10px; 

}


.mt-0 {
    text-align: center; 
}

.card-header {
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}