/* default */
.container {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
    border-radius: 5px;
}

/* .card-body {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
    border-radius: 5px;
    text-align: left;
    max-width: 70%;
    ;
} */

.card {
    border: none;
}

.portfolio {
    background-color: rgb(76, 167, 167);
    text-align: center;
    opacity: 90%;
    color: white;
}

.card-body {
   float: left;
   margin: 30px;
}

.card-header {
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    background-color: rgb(142, 192, 149);
}

#picture {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 5px solid rgb(142, 192, 149);

}

/* if the size is under 760 */
@media (max-width: 760px) {
    .card-img { ;}
    .card-body {; }
}
/* if the size is under 480 */
@media (max-width: 480px) {
    .card-img { ;}
}



/*
    something should be diff with each size fo the screen
    // on big screen be red
    // on tablet size be blue
    // on phone size be green

*/